extends base.pug
include mixins/video.pug

block content
    each video in videos
        div.video-grid
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
    else 
        span.empty__message No videos found.